*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(
        to right, #9500ff, #09f, #00DDFF
    );
    width: 600px;
    height: 600px;
    padding: 5px;
    margin: 0 auto;    
}
h1{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
h3{
    color: #fff;
    text-transform: capitalize;
    padding: 10px 30px;   
}
.divs-row{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #000;
    height: 300px;
} 
.divs-row input{
    width: 90%;
    margin: 0 30px;
    height: 35px;
    text-align: start;  
}
.divs-row textarea{
    width: 90%;
    margin: 0 30px 30px;    
}

.button-1{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin-top: 10px;
}
.button-1 button span{
    background-color: rgb(107, 175, 3);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    width: 500px;
}
.button-1 button{
    border: 0;
    background-image: linear-gradient( 
        150deg,
        #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin-left: 10px;
}

.button-2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 20px;
}
button{
    border: 0;
    background-image: linear-gradient( 
        150deg,
        #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin-left: 10px;
}
button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}

