*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --border-color: linear-gradient(
        to right, #9500ff, #09f, #00DDFF
    );
}
.container{
    background: var(--border-color);
    width: 1100px;
    padding: 5px;
    margin: 0 auto;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
body{
    background-color: #fff;
}
.table{
    border-collapse: collapse;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    background: #000;
    width: 100%;
    height: 100%;
}
.td-head{
    border: 1px solid #fff;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
tbody tr td img{
    width: 50%;
    padding: 5px;
}
tbody tr td{
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
tbody tr td i{
    margin-left: 10px;
    margin-right: 10px;
}
.container-button{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
button{
    border: 0;
    background-image: linear-gradient( 
        150deg,
        #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin-left: 20px;
}
button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}
