* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* tema claro */

.light .navbar {
    background-color: #fafafa;
}
.light #section-1 {
    background-color: #eceff1;
    width: 100vw;
    height: 100%;
}
.light #section-2 {
    background-color: #cfd8dc;
    width: 100vw;
    height: 100%;
}
.light #section-3 {
    background-color: #eceff1;
    width: 100vw;
    height: 100%;
}
#section-4 {
    background-color: #cfd8dc;
    width: 100vw;
    height: 100%;
}
.light #footer {
    background-color: #eceff1;
}

.light .h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.light .h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.light .h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.light .tarjeta {
    background-color: #fafafa;
}





/* tema oscuro */

.dark .navbar {
    background-color: #37474f;
}
.dark .navbar a {
    color: #eceff1;
}
.dark #section-1 {
    background-color: #263238;
    width: 100vw;
    height: 100%;
}
.dark #section-2 {
    background-color: #37474f;
    width: 100vw;
    height: 100%;
}
.dark #section-3 {
    background-color: #263238;
    width: 100vw;
    height: 100%;
}
.dark #section-4 {
    background-color: #37474f;
    width: 100vw;
    height: 100%;
}
.dark #footer {
    background-color: #263238;
}
.dark .h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #eceff1;
}
.dark .h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #eceff1;
}
.dark .h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: #eceff1;
}
.dark #footer i {
    color: #eceff1;
}
.dark #footer p {
    color: #eceff1;
}
.dark .card-body {
    background-color: #263238;
}
.dark .card-title {
    color: #eceff1;
}
.dark .card-text {
    color: #eceff1;
}
.dark .card-header {
    background-color: #37474f;
}
.dark .tarjeta {
    background-color: #263238;
}
.dark .tarjeta i {
    color: #eceff1;
}




/* Estilos generales */

.col-8 a {
    color: #000;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-8 a:hover {
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.espacio {
    padding-top: 5em;   
}
.span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

