.flex-container{
    display: flex;
    background-color: rgb(226, 251, 248);
    margin: 0 100px;
}
.flex-item{
    background-color: rgb(226, 251, 248);
    width: 1000px;
    margin: 10px;
    justify-content: flex-start;
    line-height: 25px;
}
