.body{
    background-color: rgb(223, 127, 89)
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(156, 226, 223);
    margin: 20px;

}
.c1{
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.c2{
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.c3{
    grid-column: 20%;
    border: 1px solid black;
    margin: 10px;
}
.box{
    border: 1px solid black;
    grid-row: 20px;
}
.c4{
    border: 1px solid black;
    margin: 10px;
    grid-column: 80%;
}
