@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 html body{
     font-family: "Poppins", sans-serif;
 }
 h2{
     font-size: 1.8rem;
     text-align: center;
     text-transform: uppercase;
     font-weight: 500;
     padding-bottom: 50px;
 }
 h4{
     font-size: 1.3rem;
     text-transform: uppercase;
     padding-bottom: 20px;
     font-weight: 500;
 }
 p{
     font-size: 1rem;
     margin:10 0;
     line-height: 1.7em;
 }
 a{
     text-decoration: none;
 }
 .container{
     margin: auto;
     max-width: 1300px;
     overflow: auto;
     padding: 0 20px;
 }
 .large{
     font-size: 20px;
     margin-bottom: 1rem;
 }
 .btn{
     display: inline-block;
     font-size: 15px;
     padding: 15px 40px;
     letter-spacing: 1px;
 }
 .btn-outline{
     background: transparent;
     border: 1px solid #fff;
     color: #fff;
     text-transform: uppercase;
     font-weight: 300;
 }
 .btn-outline:hover{
     background: #fff;
     color: #000;
 }
 #navbar{
     overflow: auto;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 #navbar a{
     color: #000;
 }
 #navbar .logo{
     float: left;
     padding-top: 16px;
 }
 #navbar i{
     height: 40px;
     margin-right: 5px;   
 }
 #navbar ul{
     list-style: none;
     float: right;
 }
 #navbar ul li{
     float: left;
 }
 #navbar ul li a{
     display: block;
     padding: 20px;
     text-align: center;
 }
 #showcase{
     background: url(./img/fondo.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 500px;
     text-align: center;
     padding: 100px;    
 }
 #showcase .btn{
     margin-top: 260px;
 }
 #proyectos{
     padding: 80px 0;
 }
 
 .slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 700%;
	
	animation: slide 28s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	40% {margin-left: -100%;}
	
	30% {margin-left: -200%;}
	60% {margin-left: -200%;}
	
	40% {margin-left: -300%;}
	80% {margin-left: -300%;}

    50% {margin-left: -400%;}
	100% {margin-left: -400%;}

    60% {margin-left: -500%;}
	120% {margin-left: -500%;}

    80% {margin-left: -600%;}
	140% {margin-left: -600%;}
}

 #sobremi{
     padding: 80px 0;
     background: #f3f3f3;
 }
 .sobremi-row{
     display: flex;
 }
 .sobremi-row-experience, .sobremi-row-me{
 width: 50%;
 padding-left: 50px;
 }
 #contacto{
     padding: 80px 0;
 }
 .contacto-row{
    display: flex;
 }
 .contacto-row-icon{
     width: 33%;
     text-align: center;
 }
 .contacto-row-icon i{
     margin-bottom: 10px;
 }
 #mainfooter{
     background: #f9f9f9;
     text-align: center;
     padding: 30px;   
 }
 footer i{
     color: #000;
 }
